appdirs==1.4.3
Django==1.11
django-simple-captcha==0.5.5
django-suit==0.2.25
django-suit-ckeditor==0.0.2
olefile==0.44
packaging==16.8
Pillow==4.1.0
pkg-resources==0.0.0
psycopg2==2.7.1
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
