{% extends 'base_site.html' %}


{% block content %}
   
    <!-- Page Content -->
    <div class="container">

            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">{{ publicacion.titulo }}</h1>
      
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">{{publicacion.fecha}}</li>
            </ol>
      
            <!-- Portfolio Item Row -->
            <div class="row" style="text-align: justify">
                <div class="col-md-12">
                {{ publicacion.encabezado|safe }}
                {{ publicacion.contenido|safe }}
                </div>
            </div>
            <div class="row">
                    <div class="col-md-10">
                    
                    </div>
                    <div class="col-md-2">
                            <a href="/publicaciones" class="btn btn-primary">Volver&rarr;</a>
                            
                    </div>
            </div>
            <br>
            
            <!-- /.row -->  
      
    </div>
          <!-- /.container -->
      
          {% endblock %}