{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EA+T Nuevo</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock %}
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          {% block logo %}        
          {% endblock %}
          
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">INICIO</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NOSOTROS
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="/quienes-somos">Quienes Somos</a>
                <a class="dropdown-item" href="/equipo">Equipo EA+T</a>
                <a class="dropdown-item" href="/logros">Logros y Distinciones</a>
                <a class="dropdown-item" href="/forma-parte">Forma Parte</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                INSTITUCIONAL
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="/acerca-eat">Acerca de EA+T</a>
                <a class="dropdown-item" href="#">Entidades Asociadas</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                AREAS
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="/que-hacemos">Que hacemos</a>
                <a class="dropdown-item" href="/ciencia-tecnologia">Ciencia y Tecnología</a>
                <a class="dropdown-item" href="/cooperacion-internacional">Cooperación Internacional</a>
                <a class="dropdown-item" href="/desarrollo-local">Desarrollo Local</a>
                <a class="dropdown-item" href="/empresas-emprendimientos">Empresas y Emprendimientos</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/publicaciones">NOTICIAS</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block carousel %}
    {% endblock %}

    {% block content %}
    {% endblock %}



    <!-- Footer -->
    <footer class="py-4 bg-dark">

        <div class="row">
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100 bg-dark">
                    <div class="card-body bg-dark">
                    <p class="text-white">HORARIO DE ATENCIÓN<br><br>
                      De Lunes a Viernes de 08:00 hs. a 12:00 hs.<br>
                      Sábados de 09:00 hs. a 12:00 hs.<br>
                      
                      Educación Ambiente y Territorio | 370 - 4424429 </p>
                  </div>  
                </div>
            </div>
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100 bg-dark ">
                  <div class="card-body bg-dark" style="text-align: right">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.5368328975796!2d-58.17500714926783!3d-26.17920968336776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945ca5ef4fda4af7%3A0x33c2d5189e380b0b!2sMitre+330%2C+P3600NPV+Formosa!5e0!3m2!1ses-419!2sar!4v1493923382288" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                </div>
            </div>
          </div>      
        
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block js %}
    {% endblock %}
  </body>

</html>
