{% extends 'base_site.html' %}

{% block css %}
    <style>
    body{
        background-color: #ffffff;
    }
    </style>
{% endblock %}


  {% block carousel %}
    <div id="portada" class="portada">
        <img style="width:80%;" src="media/images/organizacion/cooperacion_internacional.jpg" alt="">
    </div><!-- /.carousel -->
  {% endblock %}


{% block content %}
<div style="width:60%; margin-right:auto; margin-left:auto; color:black;">
        <p align="justify">

El Área de Cooperación Internacional promueve las relaciones institucionales público - privadas con instituciones educativas y de investigación, propiciando promover nuestro eslogan Internacionalmente “Acercando la Ciencia a la Comunidad”.<br>
La institución es miembro del Consejo Económico Social (ECOSOC) de las Naciones Unidas, con Status consultivo ante la misma; Además es miembro de RACI (Red Argentina de Cooperación Internacional) y miembro de HELP ARGENTINA , institución a través de la cual puede recibir donaciones directamente de los EE.UU.
<br>
<ul>
    <li>
        Formulación y Gestión de Proyectos Internacionales.
    </li>
    <li>
        Convenios de investigación y colaboración.
    </li>
    <li>
        Observatorio.
    </li>
</ul>

        </p>
</div>

{% endblock %}



{% block js %}
{% endblock %}
