{% extends 'base_site.html' %}

{% block css %}
    <style>
    body{
        background-color: #ffffff;
    }
    </style>
{% endblock %}


  {% block carousel %}
    <div id="portada" class="portada">
        <img style="width:80%;" src="media/images/organizacion/desarrollo_local.jpg" alt="">
    </div><!-- /.carousel -->
  {% endblock %}


{% block content %}
<div style="width:60%; margin-right:auto; margin-left:auto; color:black;">
        <p align="justify">
         
El Área de Desarrollo Local engloba las acciones relacionadas con el Empleo, Desarrollo local y Social.
<br>
<ul>
    <li>
        Dirección de Programas.
    </li>
    <li>
        Fortalecimiento para el sector público - privado.
    </li>
    <li>
        Proyectos sociales.
    </li>
    <li>
        Proyectos para jóvenes.
    </li>
    <li>
        Cadenas de Valor.
    </li>

</ul>

        </p>
</div>
{% endblock %}



{% block js %}
{% endblock %}
