{% extends 'base_site.html' %}

{% block css %}
    <style>
    body{background-color: #ffffff;}
    </style>
{% endblock %}


  {% block carousel %}
    <div id="portada" class="portada">
        <img style="width:100%;" src="media/images/organizacion/empresas_emprendimientos.jpg" alt="">
    </div><!-- /.carousel -->
  {% endblock %}


{% block content %}
<div style="width:60%; margin-right:auto; margin-left:auto; color:black;">
        <p align="justify">

El Área de Empresas y Emprendimientos, es un área reciente de la ONG que promueve la relación nuestra institución y el sector privado, fomentando la Responsabilidad Social Empresarial en la Región.
<br>

<ul>
    <li>
        Implementación de Normas ISO 9001 - 2008
    </li>
    <li>
        Incubadora de Empresas Tradicionales y Tecnológicas
    </li>
    <li>
        Formulación y Gestión de Proyectos de Inversión.
    </li>
    <li>
        Gestión empresarial.
    </li>
</ul>
</p>
</div>


{% endblock %}



{% block js %}
{% endblock %}
