{% extends 'base_site.html' %}

{% block content %}

<img style="width:100%; height: 20%;" src="media/images/portada/equipo.jpg" alt="">

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="/">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Equipo EA+T</li>
    </ol>        

      <div class="row">
          <div class="col-lg-4 col-sm-6 portfolio-item" style="text-align: center">
              <img  src="media/images/organizacion/fotos/federico.png" alt=""><br>
              <img src="media/images/organizacion/habilidades/mail.png" width="50px">
            <img src="media/images/organizacion/habilidades/telefono.png" width="50px">
            <a href="media/images/organizacion/cv/federico.pdf"><img src="media/images/organizacion/habilidades/cv.png" width="50px"></a>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <h2>Federico Andres Véra</h2>
                <p align="justify">Docente y capacitador. Experiencia comprobable de trabajo en equipo desde el año 2008 a la fecha en temas relacionados a: organización de equipo, trabajo administrativo, formulación de proyecto, coordinación de tareas administrativas y económicas, coordinación de programas, administración institucional de documentaciones y contables en Organizaciones del tercer sector.</p>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img src="media/images/organizacion/habilidades/federico.png" width="350px">
          </div>
      </div>
      
      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <img src="media/images/organizacion/habilidades/estela.png"  width="350px">
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <h2>Estela Alejandra Subeldia</h2>
            <p align="justify">Formación de carácter instrumental que se adapta a las necesidades del sector empresario moderno, favoreciendo el desarrollo de una lógica orientada a la toma de decisiones y a la resolución de problemas habituales en las empresas ya sean públicas o privadas, nacionales o multinacionales, Macro o PyMEs.  Desempeño laboral guiado por principios éticos y normas morales que me permiten desenvolverme con idoneidad en un ámbito de actuación, y asumo una actitud pro-activa hacia la capacitación y perfeccionamiento continúo.
  </p>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item" style="text-align: center">
            <img src="media/images/organizacion/fotos/estela.png" width="250px"><br>
            <img src="media/images/organizacion/habilidades/mail.png" width="50px">
            <img src="media/images/organizacion/habilidades/telefono.png" width="50px">
            <a href="media/images/organizacion/cv/estela.pdf"><img src="media/images/organizacion/habilidades/cv.png" width="50px"></a>
        </div>        
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item" style="text-align: center">
            <img src="media/images/organizacion/fotos/orlando.png" width="250px"><br>
            <img src="media/images/organizacion/habilidades/mail.png" width="50px">
            <img src="media/images/organizacion/habilidades/telefono.png" width="50px">
            <a href="media/images/organizacion/cv/orlando.pdf"><img src="media/images/organizacion/habilidades/cv.png" width="50px"></a>
        </div>     
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <h2>Orlando Maximiliano Sandoval</h2>
          <p align="justify">Amplia formación en el rubro de la construcción, preparado para la ejecución, dirección y planificación de obras civiles de carácter privado. Conocimiento fuerte en material de informática (Software) y en programas CAD, diseño y prototipado en general (2D-3D).</p>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <img src="media/images/organizacion/habilidades/orlando.png" width="350px">
        </div>           
      </div>
      

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <img src="media/images/organizacion/habilidades/carlos.png" width="350px">
        </div>        
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <h2>Carlos Manuel Romero</h2>
          <p align="justify">Responsable de Ciencia y Tecnología, Unidad de Vinculación Tecnológica (UVT) y de Áreas de I+D+i, de la ONGD Educación, Ambiente y Territorio. Docente de la Cátedras “Administración de Organizaciones Turísticas y Gestión de la Calidad” y “Formulación y Evaluación de Proyectos Turísticos” (Lic. En Turismo – Instituto Universitario de Formosa).
          Consultor en materia de planificación para el desarrollo, y gestión de la vinculación en materia de ciencia y tecnología, para entidades públicas, privadas y mixtas.</p>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item" style="text-align: center">
            <img src="media/images/organizacion/fotos/carlos.png" width="250px"><br>
            <img src="media/images/organizacion/habilidades/mail.png" width="50px">
            <img src="media/images/organizacion/habilidades/telefono.png" width="50px">
            <a href="media/images/organizacion/cv/carlos.pdf"><img src="media/images/organizacion/habilidades/cv.png" width="50px"></a>
        </div>
      </div>
      
      <div class="row">
          <div class="col-lg-4 col-sm-6 portfolio-item" style="text-align: center">
              <img src="media/images/organizacion/fotos/marcelo.png" width="250px"><br>
              <img src="media/images/organizacion/habilidades/mail.png" width="50px">
              <img src="media/images/organizacion/habilidades/telefono.png" width="50px">
              <a href="media/images/organizacion/cv/marcelo.pdf"><img src="media/images/organizacion/habilidades/cv.png" width="50px"></a> 
          </div>     
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <h2>Marcelo Eugenio Gimenez</h2>
            <p align="justify">Con Formación y procesos de aprendizaje, en entidades educativas, científica-tecnológica y empresa. Afiliación a ONG´s (OSC), con régimen de voluntariado y procesos de liderazgo, cooperación, trabajo en equipo, planificación, transferencia de conocimientos y actividades técnicas.</p>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
              <img src="media/images/organizacion/habilidades/marcelo.png" width="350px">
          </div>           
      </div>      

      <div class="row">
          <div class="col-lg-4 col-sm-6 portfolio-item">
              <img src="media/images/organizacion/habilidades/david.png" width="350px">
          </div>        
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <h2>Jorge David Argüello</h2>
            <p align="justify">Formación Técnica con profesión de Técnico Electrónico y Técnico Superior en Sonorización y Musicalización con Medios Electroacústicos. Conocimientos en el área de informática (Base de datos, sistemas en la nube, servidores NAS, diseño web, entre otros) y programas de diseño (Photoshop, Adobe Illustrator). Diseño, montaje y manipulación de circuitos, componentes y dispositivos electrónicos. Manejo de software de edición de sonido, mezcla y mastering. Conocimientos técnicos de grabación de sonido en vivo y en estudio (Manejo de consolas, técnicas de microfoneo).</p>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item" style="text-align: center">
              <img src="media/images/organizacion/fotos/david.png" width="250px"><br>
              <img src="media/images/organizacion/habilidades/mail.png" width="50px">
              <img src="media/images/organizacion/habilidades/telefono.png" width="50px">
              <a href="media/images/organizacion/cv/david.pdf"><img src="media/images/organizacion/habilidades/cv.png" width="50px"></a> 
          </div>
      </div>      

      <div class="row">
          <div class="col-lg-4 col-sm-6 portfolio-item" style="text-align: center">
              <img src="media/images/organizacion/fotos/noelia.png" width="250px"><br>
              <img src="media/images/organizacion/habilidades/mail.png" width="50px">
              <img src="media/images/organizacion/habilidades/telefono.png" width="50px">
              <a href="media/images/organizacion/cv/noelia.pdf"><img src="media/images/organizacion/habilidades/cv.png" width="50px"></a> 
          </div>     
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <h2>Noelia Itatí  Gómez</h2>
            <p align="justify">Formación en investigación, desarrollo tecnológico y transferencia de conocimientos. Afiliación como voluntaria en ONGD Educación, Ambiente y Territorio en el año 2015. Me desempeño en Planificación, Formulación y Gestión de Proyectos. Más de 4 años de experiencia en asesoramiento técnico y capacitación a pequeños y medianos productores.</p>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
              <img src="media/images/organizacion/habilidades/noelia.png" width="350px">
          </div>           
      </div>       

    </div>
    <!-- /.container -->
    {% endblock %}