{% extends 'base_site.html' %}

{% block css %}
    <style>
    body{
        background-color: #ffffff;
    }
    </style>
{% endblock %}


<div id="desplegable" style="height: 50px;width: 50px;background-color: red; display: none"></div>

  {% block carousel %}
    <div id="portada" class="portada">
        <img style="width:100%; height: 300px;" src="media/images/portada/forma_parte.jpg" alt="">
    </div><!-- /.carousel -->
  {% endblock %}


{% block content %}

 <div style="text-align:center;">
     <img width="40%" src="media/images/organizacion/formar-parte.png" alt="">
     <div style="width:40%; margin-right:auto; margin-left:auto; color:black;">
      <b>¿Querés sumarte al equipo de EA+T?</b><br>
     <p align="justify">

El factor humano es un recurso imprescindible dentro de EA+T, para llevar a cabo todos los trabajos de la organización. Cada área permite una amplia gama de posibilidades, para que estudiantes, emprendedores, profesionales de todo del país y del mundo, puedan exponer sus habilidades y adquirir experiencias que posibiliten su desarrollo técnico-profesional, trabajo en equipo interdisciplinario y la capacidad de establecer vínculos o redes con otras entidades del entorno.
<br><br>
Si te interesa formar parte de nuestro equipo, Registrate acá:<br><br>

     </p>
    </div>

 </div><!-- /.row -->
 <div style="width:60%; margin-right:auto; margin-left:auto; color:black;">
     Registrarse como:<br>
    <select>
        <option>Voluntario</option>
        <option>Socio</option>
        <option>Pasante</option>
        <option>Emprendedor</option>
        <option>Staff Profesional de Apoyo</option>
        
        </select><br><br>
    Nombre y Apellido:<br>
    <input><br><br>
    Pais de Residencia:<br>
    <input><br><br>
    Provincia:<br>
    <input><br><br>
    Provincia Localidad Ciudad:<br>
    <input><br><br>
    Correo Electronico:<br>
    <input><br><br>
    Telefono Celular:<br>
    <input><br><br>
</div>  
<div style="text-align:center; color:black;">
<button type="submit">Enviar</button>
</div>
<br>
{% endblock %}



{% block js %}
{% endblock %}
