{% extends 'base_site.html' %}

{% block css %}
    <style>
    body{
        background-color: #ffffff;
    }
    </style>
{% endblock %}


<div id="desplegable" style="height: 50px;width: 50px;background-color: red; display: none"></div>

  {% block carousel %}
    <div id="portada" class="portada">
        <img style="width:100%; height: 300px;" src="media/images/portada/forma_parte.jpg" alt="">
    </div><!-- /.carousel -->
  {% endblock %}


{% block content %}

<div style="color:black;">
    Nombre y Apellido:<br>
    <input>
    Pais de Residencia:<br>
    <input>
    Provincia:<br>
    <input>
    Correo Electronico
 </div><!-- /.row -->




{% endblock %}



{% block js %}
{% endblock %}
