{% extends 'base_site.html' %}

{% block logo %}        
<div style="position: absolute; z-index: 1000; left: 10px; top: 5px;"><img src="/media/images/organizacion/logo.png"></div>
{% endblock %}
    

  {% block carousel %}
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/media/images/slides/1.jpg')">

        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/media/images/slides/2.jpg')">

        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/media/images/slides/4.jpg')">

        </div>
      </div>
      
     

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
    {% endblock %}





{% block content %}
<!-- Page Content -->
<div class="container">

    <hr>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/media/images/marketing/experiencia.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" align="center">
              <a href="#">+ 10 AÑOS DE EXPERIENCIA </a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/media/images/marketing/proyectos.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" align="center">
              <a href="#"> + 200 PROYECTOS CONCRETADOS</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/media/images/marketing/programas.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" align="center">
              <a href="#">+ 259 PROGRAMAS ASOCIADOS</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/media/images/marketing/asesoria.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" align="center">
              <a href="#">24/7 ASESORIA TECNICA</a>
            </h4>
          </div>
        </div>
      </div>
    </div>


<!-- Features Section -->
<div class="row">
<div class="col-lg-6">
  <h2>BIENVENIDOS A EA+T </h2>
  <p align="justify">Somos un grupo de jóvenes profesionales formados en diferentes especialidades. Desde el año 2007 trabajamos en la gestación y formación de líderes, desarrollando una gestión superadora a través de procesos económicos y comunitarios. Nuestro equipo de trabajo logra un impacto constante mediante la transferencia de conocimientos basados en la Investigación, Desarrollo e Innovación (I+D+I) que, aplicados a los productos y servicios nos ubica hoy en un lugar de privilegio y máxima responsabilidad. </p>
</div>
<div class="col-lg-6">
  <img class="img-fluid rounded" src="/media/images/organizacion/empresa2.jpg" alt="">
</div>
</div>
<!-- /.row -->



  

    <!-- Portfolio Section -->
    <h2>NUESTRAS ÁREAS</h2>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/media/images/areas/tecnologia.jpg" alt=""></a>
              <div class="card-body">
                <h5 class="card-title" align="center">
                  <a href="ciencia-tecnologia">CIENCIA Y TECNOLOGÍA</a>
                </h5>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/media/images/areas/desarrollo.jpg" alt=""></a>
              <div class="card-body">
                <h5 class="card-title" align="center">
                  <a href="desarrollo-local">DESARROLLO LOCAL</a>
                </h5>
              </div>  
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/media/images/areas/empresa.jpg" alt=""></a>
              <div class="card-body">
                <h5 class="card-title" align="center">
                  <a href="empresas-emprendimientos">EMPRESAS Y EMPRENDIMIENTOS</a>
                </h5>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/media/images/areas/cooperacion.jpg" alt=""></a>
              <div class="card-body">
                <h5 class="card-title" align="center">
                  <a href="cooperacion-internacional">COOPERACION INTERNACIONAL</a>
                </h5>
              </div>
            </div>
          </div>
    </div>
    <!-- /.row -->

    
<!-- Portfolio Section -->
<h2>ENTIDADES VINCULADAS</h2>

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/media/images/entidades/camefor.png" alt=""></a>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/media/images/entidades/embajada.png" alt=""></a>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/media/images/entidades/fomicro.png" alt=""></a>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/media/images/entidades/incuba.png" alt=""></a>
        </div>
      </div>
</div>
<!-- /.row -->


    <hr>


  </div>
  <!-- /.container -->
  {% endblock %}



{% block js %}
{% endblock %}

