{% extends 'base_site.html' %}

{% block css %}
    <style>
    body{background-color: #0269c4;}
    </style>
{% endblock %}


<div id="desplegable" style="height: 50px;width: 50px;background-color: red; display: none"></div>

  {% block carousel %}

    <div style="position: absolute; z-index: 1000; left: 20px; top: 200px;"><a href="https://web.facebook.com/ONGD.EATNEA?_rdc=1&_rdr"><img src="media/images/social/facebook.png"></a></div>
    <div style="position: absolute; z-index: 1000; left: 20px; top: 300px;"><a href="https://twitter.com/EATNEA"><img src="media/images/social/twitter.png"></a></div>
    <div style="position: absolute; z-index: 1000; left: 20px; top: 400px;"><a href="https://www.youtube.com/channel/UCt6_lByBlZU62GR8KdUMVpA"><img src="media/images/social/youtube.png"></a></div>

    <div style="position: absolute; z-index: 10; width: 100%; text-align: right"><img src="media/images/organizacion/portada.png"></div>
    <div style="position: absolute; z-index: 1001; margin-left: 65%; margin-top: 20%"><iframe width="460" height="215" src="https://www.youtube.com/embed/L06tIfkQrFI" frameborder="0" allowfullscreen></iframe></div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="media/images/slides/1.jpg" alt="">
        </div>
        <div class="item">
          <img class="second-slide" src="media/images/slides/2b.jpg" alt="">
        </div>
        <div class="item">
          <img class="third-slide" src="media/images/slides/3b.jpg" alt="">
        </div>
        <div class="item">
          <img class="third-slide" src="media/images/slides/4.jpg" alt="">
        </div>
        </div>
      </div>
    </div><!-- /.carousel -->
    {% endblock %}





{% block content %}
<div class="container marketing">
      <div class="row">
        <div class="col-lg-3">
          <img class="img-circle" src="media/images/marketing/experiencia.png">
          <h2>10 +</h2>
            <p>AÑOS DE EXPERIENCIA (hacer mas chico de alto el div azul)</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle" src="media/images/marketing/proyectos.png" alt="Generic placeholder image" width="140" height="140">
          <h2>200 +</h2>
            <p>PROYECTOS CONCRETADOS</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle" src="media/images/marketing/programas.png" alt="Generic placeholder image" width="190" height="140">
          <h2>259 +</h2>
            <p>PROGRAMAS ASOCIADOS</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle" src="media/images/marketing/asesoria.png" alt="Generic placeholder image" width="140" height="140">
          <h2>24/7 +</h2>
            <p>ASESORÍA TÉCNICA</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>
 <!-- START THE FEATURETTES -->

<div class="container bienvenida">
      <!-- FOOTER -->
        <h1>BIENVENIDOS A EA+T</h1>

    <div class="imagen" style="">
        <img src="media/images/organizacion/empresa2.jpg" style="width: 95%">
    </div>

    <div class="texto" style="">
        <p align="justify">
        Somos un grupo de jóvenes profesionales formados en diferentes
            especialidades. Desde el año 2007 trabajamos en la gestación
            y formación de líderes, desarrollando una gestión superadora
            a través de procesos económicos y comunitarios. Nuestro equipo
            de trabajo logra un impacto constante mediante la transferencia
            de conocimientos basados en la Investigación, Desarrollo e
            Innovación (I+D+I) que, aplicados a los productos y servicios nos
            ubica hoy en un lugar de privilegio y máxima responsabilidad.
        </p>
    </div>
</div>

<div class="container areas">
    <h2>NUESTRAS ÁREAS</h2>
       <div class="row">
        <div class="col-lg-3" id="id_ciencia">

            <div id="id_ciencia_cartel" style="font-family:Humnst777 Blk BT; position:absolute; background-color:#fff; opacity: 0.8; font-size:2vmin;
                text-align:justify; padding:10px;">
            Administración de Proyectos y programas + Servicios Tecnologicos + Unidad de Vinculación Tecnológica
                <br>
                <br>
                <br>
            </div>

            <img class="" src="media/images/areas/tecnologia.png" alt="Generic placeholder image" height="109px">
            <p>CIENCIA Y TECNOLOGÍA</p>

        </div><!-- /.col-lg-4 -->

        <div class="col-lg-3" id="id_desarrollo">

            <div id="id_desarrollo_cartel" style="font-family:Humnst777 Blk BT; position:absolute; background-color:#fff; opacity: 0.8; font-size:2vmin;
                text-align:justify; padding: 10px; ">

            Programas para el fortalecimiento Institucional + acciones vinculadas al Empleo
                <br>
                <br>
                <br>
                <br>
            </div>
          <img class="" src="media/images/areas/desarrollo.png" alt="Generic placeholder image" height="109px">
            <p>DESARROLLO LOCAL</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-3" id="id_empresa">
            <div id="id_empresa_cartel" style="font-family:Humnst777 Blk BT; position:absolute; background-color:#fff; opacity: 0.8; font-size:2vmin;
                text-align:justify; padding: 10px;">
            Proyectos de Inversión + incubadora de Empresas + Normas de calidad ISO 9001- Gestión Empresarial
                <br>
                <br>
                <br>

            </div>
          <img class="" src="media/images/areas/empresa.png" alt="Generic placeholder image" height="109px">
            <p>EMPRESAS Y EMPRENDIMIENTOS</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-3" id="id_cooperacion">
            <div id="id_cooperacion_cartel" style="font-family:Humnst777 Blk BT; position:absolute; background-color:#fff; opacity: 0.8; font-size:2vmin;
                text-align:justify; padding: 10px;">
            Proyectos Internacionales + Convenios + Observatorio.
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
          <img class="" src="media/images/areas/cooperacion.png" alt="Generic placeholder image" height="109px">
            <p>COOPERACIÓN INTERNACIONAL</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>

<div class="container bienvenida">
    <h1>ENTIDADES VINCULADAS</h1>
<br>
    <div style="float:left"><img src="media/images/entidades/asociacion_musicos.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/camefor.png" width=""  height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/cmc.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/comarca_bermejo.jpg" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/ecosoc.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/embajada.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/fomicro.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/desarrollo_social.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/help.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/incuba.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/instituto_fermosa.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/jovenes.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/ministerio_comunidad.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/ministerio_empleo.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/ministerio_turismo.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/new_zeland.png" width="" height="200px"></div>
    <div style="float:left"><img src="media/images/entidades/raci.png" width="" height="200px"></div>

</div>
{% endblock %}



{% block js %}
<script>
$("#id_ciencia_cartel").hide();
$("#id_desarrollo_cartel").hide();
$("#id_empresa_cartel").hide();
$("#id_cooperacion_cartel").hide();

$("#id_ciencia").hover(function() {
    $("#id_ciencia_cartel").fadeIn("slow");
}, function() {
	$("#id_ciencia_cartel").fadeOut("slow");
});

$("#id_desarrollo").hover(function() {
    $("#id_desarrollo_cartel").fadeIn("slow");
}, function() {
	$("#id_desarrollo_cartel").fadeOut("slow");
});

$("#id_empresa").hover(function() {
    $("#id_empresa_cartel").fadeIn("slow");
}, function() {
	$("#id_empresa_cartel").fadeOut("slow");
});

$("#id_cooperacion").hover(function() {
    $("#id_cooperacion_cartel").fadeIn("slow");
}, function() {
	$("#id_cooperacion_cartel").fadeOut("slow");
});



</script>

{% endblock %}

