{% extends 'base_site.html' %}

{% block content %}

<img style="width:100%; height: 20%;" src="media/images/portada/quienes_somos.jpg" alt="">

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Quienes Somos</li>
      </ol>

      <!-- Intro Content -->
      <div class="row">

        <div class="col-lg-9">
            <h4>MISIÓN</h4>
            <p align="justify">Liderar y formar líderes, en procesos abocados a la reducción de las asimetrías económicas, respetando la cultura y los valores de las comunidades apoyados en la vinculación, planificación, gestión tecnológica y transferencia de conocimientos, con eje en el desarrollo local, a partir de la Investigación, el desarrollo y la innovación (I+D+i).</p>
            <h4>VISIÓN</h4>
            <p align="justify">Ser un actor pionero y líder en procesos económicos y comunitarios de cambio paradigmático, enmarcados en procesos de I+D+i y calidad continua.</p>
            <h4>POLÍTICA DE CALIDAD</h4>
            <p align="justify">Reducir las asimetrías socio-económicas, a través de la transferencia de conocimiento para la formación de líderes, promoviendo el autodesarrollo tecnológico y sustentable mediante la innovación y la mejora continua del sistema de gestión de calidad.</p>
            <h4>OBJETIVOS DE CALIDAD</h4>
            <p align="justify">  
            Impulsar y acompañar el desarrollo económico sustentable de los actores sociales.
            Generar programas de transferencias de conocimiento para formar líderes.
            Generar y Fortalecer Áreas de I+D+i, promoviendo el autodesarrollo tecnológico.
            Desarrollar y mejorar continuamente el “Sistema de Gestión de Calidad" (SGC).
            Difundir y propiciar la gestión dentro del ámbito de la calidad.</p>            
        </div>

        <div class="col-lg-3" style="text-align: center; color:#0269c4; background-color:#d0e194;">
            <font size=4>
                COMISION DIRECTIVA
                <br><br>
                <b>Presidente:</b>
                <br>
                Vera, Federico Andrés
                <br>
                <b>Vicepresidente:</b>
                <br>
                Subeldia, Estela Alejandra
                <br>
                <b>Secretario:</b>
                <br>
                Gimenez, Marcelo Eugenio
                <br>
                <b>Tesorero:</b>
                <br>
                Romero, Carlos Manuel
                <br><br>
                <b>1er Vocal Titular:</b>
                <br>
                Martins, Eliana Marisol
                <br>
                <b>2do Vocal Titular:</b>
                <br>
                Gómez, Noelia Itati
                <br>
                <b>1er Vocal Supelente:</b>
                <br>
                Garcia, Pamela Analia
                <br>
                <b>2do Vocal Supelente:</b>
                <br>
                Nuñez, Desiree Denis
                <br><br>
                <b>Revisor de Cuentas Titular:</b>
                <br>
                Kotik, Bernardo Adrian
                <br>
                <b>Revisor de cuentas suplente:</b>
                <br>
                Arguello, Jorge David
                </font>
          
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    {% endblock %}